<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>

<body>
<table id="t01">
  <tr>
    <th>Deliverable</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>
        <a href="https://www.cefns.nau.edu/~edo/Classes/CS_Capstone/Projects/F19/F19_teams.html">
            Capstone Presentation
        </a>
    </td>
    <td>The Capstione presentation video is about kdajsdjs</td>
  </tr>
  <tr>
    <td>
        <a href="https://www.cefns.nau.edu/~edo/Classes/CS_Capstone/Projects/F19/F19_teams.html">
            Team Standards
        </a>
    </td>
    <td>description jksfjkdsjfksjk</td>
  </tr>
  <tr>
    <td>
        <a href="https://www.cefns.nau.edu/~edo/Classes/CS_Capstone/Projects/F19/F19_teams.html">
            Tech feasibility
        </a>
    </td>
    <td>words go here</td>
  </tr>
</table>

</body>
</html>
