<!doctype html>

<html>
    <head>
    <meta charset="utf-8">
    <title>Team Triaxis</title>
    </head>

    <body>
        <center>
        <img src="/images/logo.png" alt="team logo" style="width:200px;height:200px;float:inline-start;"/>
        <h2>Project Overview</h2>
        <p>We are team Triaxis, and we are working on the project "Complex Asteroid Shapes in Modeling of Binary Asteroid Systems", 
            supporting Dr. Grundy and Dr. Thirouin at Lowell Observatory. With the use of triaxial ellipsoids in modeling, we hope to 
            create a powerful visualization tool for astronomers to identify and explore the binary asteroid systems in our galaxy, as well as pave the way for even more complex and diverse astronomy problems to be visualized and modeled in the future.</p>
        </center>
    </body>
</html>